.header-sect {
    padding: 52px 100px 55px;
    max-height: 185px;
}

#Contact-tag {
    text-decoration: none;
    color: #debf79;
    float: right;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
}

@media (max-width: 870px) {
    .header-sect {
        padding: 25px 30px;
    }
}